Django
django-polymorphic
djangorestframework
djangorestframework-simplejwt
pyuploadcare
Pillow
django-anymail
python-dotenv
gunicorn
httpx
whitenoise
textblob
cloudinary
django-tinymce
psycopg2-binary
dj3-cloudinary-storage