<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ store.name }} | Wolmart - Admin & Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ store.name }} Product List" name="description"/>
    <meta content="Abdul" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/admin/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="/static/admin/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="/static/admin/css/app.min.css" rel="stylesheet" type="text/css"/>

</head>
<body>

</body>
</html>